---
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro'
import CookiesSection from '../components/CookiesSection.astro'
import Footer from '../components/Footer.astro';
---

<Layout title="Astro Cookies">
	<main>
		<NavBar/>
		<Banner/>
		<CookiesSection/>
		<Footer/>
		
	</main>
</Layout>

<style>
	
</style>
