
<section class="relative h-[660px]">
    <video  autoplay loop muted playsinline>
        <source src="/public/para.webm" type="video/webm">
    </video>
</section>

<style>

    header{
        background-color: var(--primary-blue-astro);
        height: 740px;
    }

</style>