
<section class="relative h-[660px]">
    <img src="/public/logoastro.png" alt="Banner" class="object-cover w-full h-full opacity-70"> <!-- Ajusta la opacidad -->
</section>
<style>

    header{
        background-color: var(--primary-blue-astro);
        height: 740px;
    }

</style>