---
import '@fontsource/schoolbell';
import '@fontsource-variable/baloo-bhaijaan-2'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		margin: 0;
		padding: 0;
		min-height: 100vh; /* Asegura que cubra la altura total de la ventana */
		display: flex;     /* Si necesitas alinear elementos en la página */
		flex-direction: column; 
		background-color: #FFFF;
		font-size: 16px;   /* Ajustar tamaño base */
		line-height: 1.6;  /* Proporciona mejor legibilidad */
	}

	html, body {
		overflow-x: hidden; /* Evita el scroll horizontal */
		width: 100%; /* Asegura que ocupe todo el ancho */
	}

	:root {
		--primary-blue-astro : #9994CF;
		--secundary-blue-astro:#7A73C8;
		--dark-blue-astro: #504999;
		--darkest-blue-astro: #262249;
		--skin-astro: #F5C6B0;
		--cake-astro: #FEEFE5;
		--green-astro:#82CBC6;
		--yellow-astro:#FFDC83;
		--purple-astro: #a16b9f;


		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		/* font-family: 'Schoolbell', cursive; */
		font-family:'Baloo Bhaijaan 2 Variable', system-ui;
		/* background: #FEEFE5; */
		background-color: #FFFF;
		color: var(--darkest-blue-astro);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
